@model IEnumerable<demo.Models.TLoaiDt>
@using demo.Models
@using X.PagedList.Mvc.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucLoaiDoiTuong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhMucLoaiDoiTuong</h1>

<p>
    <a asp-controller="HomeAdmin" asp-action="ThemLoaiDoiTuong">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                    <a asp-action="EditLoaiDoiTuong" asp-controller="HomeAdmin" asp-route-maLoai="@item.MaDt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
